<style>
*{ padding:0; margin:0}
body{ font-size:14px; color:#625e54; line-height:1.5em;}
h2{ font-size:16px; line-height:1.5em; padding:5px 10px; color:#625e54; background:#e9e8e4}
p{ margin:5px 10px 15px 10px;}
ul{ list-style-type:decimal;}
ul li{ margin: 0px 5px 0 30px;}
ul li dd{ font-size:14px; color:#625e54}
ul li dt{ font-size:14px; color:#1e1e1e; font-weight:bold}
</style>

%h2 【吉林美微信】使用帮助
%p 感谢您关注吉林美微信，我是机器人客服小美，我们会为您提供便捷的吉林市本地生活服务！
%p 目前我们已经开通了商家信息查询和微信订餐服务，更多更酷的功能正在紧密开发中。
%p 您在使用中有任何问题或建议，欢迎告诉小美。

%h2 绑定微信
%p 绑定微信帐号后，可以获得我们为您定制的动态个人主页。您关注商家的优惠信息和最新动态都会在这里显示，记得经常回来查看哦！
%p 发送【bind】开始绑定微信帐号，按提示一步一步操作即可。

%h2 查看主页
%p 找不到动态个人主页在哪里了？没关系，发送【my】就可以再次收到动态个人主页的入口啦。

%h2 商家导航
%p 发送您感兴趣的关键词给小美，比如火锅 或者 河南街，小美会为您找到最相关的商家。发送【m】查看更多商家。
%p 在商家页面可以点击【关注按钮】关注该商家，以后只要商家发布了新的优惠信息就会在您的动态主页里显示，这样就不会错过喜欢商家的优惠信息啦！

%h2 微信订餐
%p 发送【dc 关键词】给小美，比如【dc 盖饭】，小美会为您找到符合条件的订餐商家。发送【m】查看更多商家。
%p 温馨提示：目前微信订餐服务只在东北电力大学附近开放，其他区域尚未开放。

%h2 订餐流程示例
%p 【1】发送【dc 盖饭】给小美，小美会为您找到符合条件的订餐商家；
%p 【2】选择感兴趣的商家进入商家页面，在商家页面查看提供订餐的菜品和价格；
%p 【3】确定一个商家和菜品以后，点击商家页面的电话，即可直接拨打商家电话；
%p 【4】接通商家电话以后，向商家描述要订餐的菜品，送餐地点和您的联系方式；
%p 【5】然后就是耐心等待饭菜送到，送餐员到达后会电话通知您哦。
%br

