<xml>
  <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
  <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
  <CreateTime><%= Time.now.to_i %></CreateTime>
  <MsgType><![CDATA[news]]></MsgType>
  <ArticleCount>1</ArticleCount>
  <Articles>
    <item>
      <Title><![CDATA[点我进入个人主页]]></Title>
      <Description><![CDATA[您的个人主页每天都在不断更新中，记得经常回来查看哦。在这里可以查看近期的优惠信息，已关注商家的最新动态等。]]></Description>
      <PicUrl><![CDATA[]]></PicUrl>
      <Url><![CDATA[<%= myhome_weixin_users_url(:spm=>@weixin_user.guid) %>]]></Url>
    </item>
  </Articles>
  <FuncFlag>0</FuncFlag>
</xml> 
