<xml>
    <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
    <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
    <CreateTime><%= Time.now.to_i %></CreateTime>
    <MsgType><![CDATA[text]]></MsgType>
    <Content><![CDATA[您好，欢迎关注吉林美微信，我是机器人客服小美，我们会为您提供便捷的吉林市本地生活服务！

目前我们已经开通了商家信息查询，最新优惠信息和微信订餐服务，欢迎体验！

我们已经为您定制了专属于您的动态主页，请先回复【bind】绑定微信帐号吧！

<a href="http://wx.jilinmei.com/notices/help">【请点我查看使用帮助】</a>]]></Content>
    <FuncFlag>0</FuncFlag>
</xml>
