%br
%br
.jilinmei-info
  .jilinmei-logo
    = image_tag "/assets/logo.png", :width=>"80"
  .jilinmei-slogn
    = image_tag "/assets/slogn.png", :width=>"150"
  .jilinmei-content
    %p= "==== 吉林美，微信号：jilinmei_com ===="

    %p 喜欢小美为您提供的内容吗？不妨分享到朋友圈让朋友们也看到。

    %p 【吉林美】竭诚为江城百姓提供便捷的生活服务，目前我们已经开通了餐饮类商家信息查询和订餐信息查询服务，欢迎您使用。

    %p ● 找商家：发送您感兴趣的关键词给小美，比如火锅，河南街，小美会为您找到最相关的商家。发送【m】可以查看更多。

    %p ● 找订餐商家：发送【dc 关键词】给小美，比如【dc 盖饭】，小美会为您找到符合条件的订餐商家。发送【m】可以查看更多。
%br
%br

