.jilinmei-info
  .jilinmei-logo
    = image_tag "/assets/logo.png", :width=>"80"
  .jilinmei-slogn
    = image_tag "/assets/slogn.png", :width=>"150"
  .jilinmei-content
    %p= "==== 吉林美，微信号：jilinmei_com ===="

    %p 喜欢小美为您提供的内容吗？不妨分享到朋友圈让朋友们也看到。

    %p 吉林美竭诚为江城百姓提供便捷的生活服务，目前我们已经开通了商家信息查询和微信订餐服务，欢迎您使用。

