%br
%br
%br
%p= "=== 吉林美，微信号：jilinmei_com ==="
%p 喜欢小美为您提供的内容吗？不妨分享到朋友圈让朋友们也看到。
%br
%p 欢迎关注吉林美微信，我们会为您提供便捷的本地生活服务！
%p 目前已经开通了餐饮类商家信息查询和订餐信息查询服务。
%br
%p 吉林美微信使用帮助
%p [找商家]：发送您感兴趣的关键词给小美，比如火锅，河南街，小美会为您找到最相关的商家。
%p           发送[m]可以查看更多符合条件的商家。
%br
%p [找订餐商家]：发送[dc 关键词]给小美，比如[dc 盖饭]，小美会为您找到符合条件并且可以订餐的商家。
%p               发送[m]可以查看更多符合条件的订餐商家。
%br
%p [浏览订餐商家]：只发送[dc]给小美，小美会为您找到可以订餐的商家，再次发送[dc]查看更多订餐商家。

