$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

@import "bootstrap";
@import "bootstrap-responsive";

body {
    position: relative;
    padding-top: 40px;
}

.new-shop-button {
    padding-top: 20px;
}

