// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    width:   100%;
    height:  100%;
    margin:  0;
    padding: 0;
}

#map-container {
	width:  100%;
    height: 75%;
    border: 1px solid #999;
}

