/****************************
    global style
*****************************/
* {
	margin:0;
	padding:0;
	outline:0
}
body {
	width:100%;
	font-family:"Microsoft YaHei",Helvetica,Arial,sans-serif;
	font-size:16px;
	color:#323232
}
a {
	text-decoration:none;
	color:#575eb5;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
a:visited {
	color:#575eb5
}
a:hover {
	text-decoration:none
}
ul,ol {
	list-style:none
}
em {
	font-style:normal
}

.jilinmei-info {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    padding-bottom: 30px;
}
.jilinmei-logo {
    float: left;
    margin-top: 12px;
}
.jilinmei-slogn {
    float: left;
    margin-left: 30px;
}
.jilinmei-content {
    clear: both;
    padding-top: 5px;
}
.jilinmei-content p {
    margin-top: 15px;
}


/****************************
    icon style
*****************************/
.home-search .search-icon,.classify li i,.return-txt,.search-icon,.shop_list li .distance,.icon-address,.icon-call,.address-igroup,.address-inpromo,.address-card,.address-sign,.address-vip,.mycomm-frame .comm-star,.mycomm-frame .star-cur,.photo-list li .pic,.coupon-clip .clip-shop,.stick,.pop-close .close,.fruitless .icon-fruit,.head-collect,.head-comm,.igroup,.inpromo,.icard,.isign,.ivip,.head-already,.head-err,.irevise,.bar .pic,.bar .bar-str,.bar-box .bar-close,.scroll-top,.add-icon {
	background-image:url(/assets/sprite.4a6ee9ab009bab0d424035b90855a3b6.png);
	background-repeat:no-repeat;
	background-size:250px auto
}
.icon-address,.icon-call,.address-igroup,.address-inpromo,.address-card,.address-sign,.address-vip {
	width:21px;
	height:27px;
	position:absolute;
	top:14px;
	left:10px;
	background-position:0 -170px;
	background-size:220px auto
}
.icon-call {
	background-position:-22px -170px
}
.shop-lay .shop-nearby .nearby-up,.shop-lay .shop-nearby .nearby-down,.arrow-ent {
	width:8px;
	height:8px;
	position:absolute;
	top:22px;
	border-right:2px solid #bab5ad;
	border-bottom:2px solid #bab5ad;
	right:10px;
	cursor:pointer;
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg)
}
.arrow-ent {
	right:15px;
	top:20px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg)
}
.address-igroup,.address-inpromo,.address-card,.address-sign,.address-vip {
  background-size:250px auto
}
.address-inpromo {
	background-position:-22px -299px
}
.head-collect,.head-comm,.head-already,.head-err {
  width:30px;
  height:30px;
	position:absolute;
	top:10px;
	left:5px;
  background-position:-2px -454px;
  background-size:220px auto;
}
.head-already {
  background-position:-74px -454px
}


/****************************
    shop/show style
*****************************/
section {
	padding:10px;
	overflow:hidden;
	zoom:1;
	border-top:1px solid #dbdbdb
}

.shop-details {
	padding:0;
	background:#FFF;
	border-top:0
}
.shop-details .details-mode {
	margin-bottom:-1px;
	overflow:hidden;
	zoom:1
}
.shop-details .shop-info {
	padding:10px;
	border-bottom:1px solid #ededed
}
.shop-details .review-tit {
	display:block;
	padding:15px 10px;
	font-size:18px;
	color:#323232
}
.shop-info .shop-name {
	padding-bottom:14px;
	padding-top:4px
}
.shop-info .shop-name h1 {
	font-size:18px;
	font-weight:normal
}
.shop-info .pic-txt {
	padding-left:120px;
	overflow:hidden;
	zoom:1;
	color:#9d9992;
	font-size:14px;
	line-height:25px
}
.shop-info .pic-txt .item-rank-rst {
	margin-bottom:4px
}
.shop-info .pic-txt p {
	overflow:hidden;
	zoom:1;
	margin-top:7px;
	line-height:20px
}
.shop-info .pic-txt .pic {
	float:left;
	margin-left:-120px;
	_display:inline
}
.shop-info .pic-txt .desc span {
	padding-right:5px
}
.shop-info .pic-txt .pic img {
	background:#fff;
	padding:4px;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0 2px 3px rgba(0,0,0,0.2);
	box-shadow:0 2px 3px rgba(0,0,0,0.2);
	width:100px;
	height:75px
}
.item-rank-rst,.mid-rank-stars {
	float:left;
	width:84px;
	height:16px;
	margin:3px 12px 0 0;
	text-indent:-9999px;
	overflow:hidden;
	background-image:url(/assets/remark.8161c94af8a7791e1a73281e0ccfb4e0.png);
	background-repeat:no-repeat;
	background-size:87px auto
}
.irr-star0 {
	background-position:0 -92px
}
.irr-star5 {
	background-position:0 -153px
}
.irr-star10 {
	background-position:0 -74px
}
.irr-star20 {
	background-position:0 -56px
}
.irr-star30 {
	background-position:0 -37px
}
.irr-star35 {
	background-position:-1px -133px
}
.irr-star40 {
	background-position:0 -19px
}
.irr-star45 {
	background-position:0 -112px
}
.irr-star50 {
	background-position:0 0
}
.info-address .info-list li a {
	padding-right:30px
}
.info-list li a.traffic {
	padding-left:10px
}
.info-list li {
	border-bottom:1px solid #ededed;
	margin-top:-1px
}
.info-list li a {
	padding:15px 0 15px 40px;
	position:relative;
	display:block;
	color:#323232
}
.info-list li a:visited {
	color:#323232
}
.info-list li .info-right {
	position:absolute;
	min-width:100px;
	text-align:center;
	right:0;
	top:0;
	border-left:1px solid #ededed;
	padding:10px 0
}
.promo-info {
	border-top:1px solid #ededed;
	border-bottom:0
}
.modebox .hd {
	margin:0 -10px;
	background-color:#f2f2f2;
	border-bottom:1px solid #e2e2e2;
	padding:0 10px;
	height:30px;
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft YaHei"
}
.modebox .hd h6 {
	font-size:12px;
	color:#646464
}
.top-dishes {
	padding:0 10px
}
.dp-3gcon-index {
	margin:0 -10px;
	font-size:14px;
	border-bottom:1px solid #ededed;
	display:-webkit-box;
	display:-moz-box;
	display:box;
	background:#FFF
}
.dp-3gcon-index>div {
	-webkit-box-flex:1;
	position:relative;
	width:25%;
	padding:13px 10px
}
.dp-3gcon-index .dish {
	display:block;
	text-align:center;
	text-decoration:none;
	width:100%;
	color:#323232;
	word-wrap:break-word
}
.sx {
	background:#ededed;
	width:1px;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	overflow:hidden
}

.shop-description {
	margin: 10px 5px;
	font-size:16px;
  line-height: 18px;
}

table {
	max-width:100%;
	background-color:transparent;
	border-collapse:collapse;
	border-spacing:0
}
.table {
	width:100%;
  margin-top:10px;
  font-size:14px;
}
.table th,.table td {
	padding:8px;
	line-height:20px;
	text-align:left;
	vertical-align:top;
	border-top:1px solid #ddd
}
.table th {
	font-weight:bold
}
.table thead th {
	vertical-align:bottom
}
.table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td {
	border-top:0
}
.table tbody+tbody {
	border-top:2px solid #ddd
}
.table .table {
	background-color:#fff
}
.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th {
	background-color:#f9f9f9
}
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th {
	background-color:#f5f5f5
}
.shop-match-keywords {
  color: red;
}

.shop-button {
  float: right;
  margin-right: 10px;
  font-size: 16px;
}
.btnGreen {
  border: 1px solid #3d810c;
  padding: 3px 10px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  overflow: visible;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  *zoom: 1;
  background-color: #56a447;
  background-image: linear-gradient(top, #60b452 0, #56a447 100%);
  background-image: -moz-linear-gradient(top, #60b452 0, #56a447 100%);
  background-image: -webkit-linear-gradient(top, #60b452 0, #56a447 100%);
  color: #ffffff;
  border: 1px solid #3d810c;
}
.btnGreen:hover {
  background-color: #4f9841;
  background-image: linear-gradient(top, #5aab4d 0, #4f9841 100%);
  background-image: -moz-linear-gradient(top, #5aab4d 0, #4f9841 100%);
  background-image: -webkit-linear-gradient(top, #5aab4d 0, #4f9841 100%);
  color: #ffffff;
  box-shadow: 0 1px 1px #aaaaaa;
  -moz-box-shadow: 0 1px 1px #aaaaaa;
  -webkit-box-shadow: 0 1px 1px #aaaaaa;
}
.btnGray {
  border: 1px solid #3d810c;
  padding: 3px 10px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  overflow: visible;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  *zoom: 1;
  background-color: #f1f1f1;
  background-image: linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
  color: #000000;
  border: 1px solid #AAA;
}
.btnGray:hover {
  background-color: #F9F9F9;
  background-image: linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
  background-image: -moz-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
  background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
  box-shadow: 0 1px 1px #aaaaaa;
  -moz-box-shadow: 0 1px 1px #aaaaaa;
  -webkit-box-shadow: 0 1px 1px #aaaaaa;
}

.btnDisable {
  border: 1px solid #3d810c;
  padding: 3px 10px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  overflow: visible;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  *zoom: 1;
  cursor: not-allowed;
  color: #7b7b7b;
  background-color: #fafafa;
  background-image: linear-gradient(top, #fafafa 0, #fafafa 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0, #fafafa 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0, #fafafa 100%);
  border: 1px solid #bdbdbd;
  border-radius: 3px 3px 4px 4px;
  -moz-border-radius: 3px 3px 4px 4px;
  -webkit-border-radius: 3px 3px 4px 4px;
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  outline: 0;
}
.btnDisable:hover {
  color: #7b7b7b;
  background-color: #fafafa;
  background-image: linear-gradient(top, #fafafa 0, #fafafa 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0, #fafafa 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0, #fafafa 100%);
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
}


/****************************
    weixin_user/myhome style
*****************************/
.user-details {
	padding:0;
	background:#FFF;
	border-top:0
}
.user-details .details-mode {
	margin-bottom:-1px;
	overflow:hidden;
	zoom:1
}
.user-details .user-info {
	padding:10px;
	border-bottom:1px solid #ededed
}
.user-info .user-name {
	padding-bottom:14px;
	padding-top:4px
}
.user-info .user-name h1 {
	font-size:18px;
	font-weight:normal
}
.user-info .pic-txt {
	padding-left:120px;
	overflow:hidden;
	zoom:1;
	color:#9d9992;
	font-size:14px;
	line-height:25px
}
.user-info .pic-txt .info {
  margin-top: 10px;
}
.user-info .pic-txt .info h3 {
	overflow:hidden;
	zoom:1;
	margin-top:3px;
	line-height:20px;
	font-size:18px;
  color:#646464;
}
.user-info .pic-txt .info p {
	overflow:hidden;
	zoom:1;
	margin-top:3px;
	line-height:20px
}
.user-info .pic-txt .pic {
	float:left;
	margin-left:-120px;
	_display:inline
}
.user-info .pic-txt .pic img {
	background:#fff;
	padding:4px;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0 2px 3px rgba(0,0,0,0.2);
	box-shadow:0 2px 3px rgba(0,0,0,0.2);
	width:100px;
	height:75px
}
.user-info-list li a.traffic {
	padding-left:10px
}
.user-info-list li {
	border-bottom:1px solid #ededed;
	margin-top:-1px
}
.user-info-list li a {
	padding:15px 0 15px 40px;
	position:relative;
	display:block;
	color:#323232
}
.user-info-list li a:visited {
	color:#323232
}
.user-info-list li .info-right {
	position:absolute;
	min-width:100px;
	text-align:center;
	right:0;
	top:0;
	border-left:1px solid #ededed;
	padding:10px 0
}
.box-mode .hd {
	margin:0 -10px;
	background-color:#f2f2f2;
	border-bottom:1px solid #e2e2e2;
	padding:0 10px;
	height:30px;
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft YaHei"
}
.box-mode .hd h6 {
	font-size:12px;
	color:#646464
}
.user-top-dishes {
	padding:0 10px
}
.user-left-dishes {
	margin:0 -10px;
}
.user-description {
	margin: 10px 5px;
	font-size:16px;
  line-height: 18px;
}


/****************************
    promo/show style
*****************************/
.shop-promo {
	border-top:0
}
.promo-details h6 {
	font-size:18px;
	padding:6px 0;
	color:#696969;
	font-weight:normal
}
.promo-details .promo-txt {
	line-height:25px;
	padding-bottom:5px;
	color:#696969;
	font-size:14px
}
.promo-details .promo-time {
	color:#9d9992;
	padding-bottom:20px;
	font-size:14px;
	color:#9d9992
}
.coupon-list {
	margin:0 -10px
}
.coupon-list-m {
	margin:0
}
.coupon-list li a {
	padding:10px;
	border-bottom:1px solid #ededed;
	font-size:14px;
	display:block
}
.coupon-list li .tit {
	position:relative;
	padding-bottom:10px;
	font-size:18px;
	color:#696969
}
.coupon-list li .tit .tips {
	position:absolute;
	right:0;
	top:0;
	font-size:14px;
	color:#9d9992
}
.coupon-list li .explai {
	color:#9d9992
}
.coupon-list li .explai-info {
	color:#f15009
}
.coupon-list li .explai-info .time {
	float:right;
	color:#9d9992
}
.promo-suit {
	padding-top:20px
}
.promo-suit h6 {
	color:#696969;
	font-size:14px;
	padding-bottom:5px
}
.promo-suit .coupon-list {
	border:1px solid #ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
	zoom:1;
	background:#f9f9f9
}
.promo-suit .coupon-list li {
	margin-top:-1px
}
.promo-suit .coupon-list li .tit a,.promo-suit .coupon-list li .tit a:visited,.my-home .home-fun li a:visited,.my-comm .tit a:visited {
	color:#323232
}
.icon-btn {
	display:block;
	color:#6c6c6c;
	padding:10px 0;
	text-align:center;
	font-size:14px;
	border-width:1px;
	border-style:solid;
	border-color:#ddd #cdcdcd #c0c0c0 #cdcdcd;
	border-radius:3px;
	-webkit-border-radius:3px;
	background:-moz-linear-gradient(top,#fcfcfc,#f0f0f0);
	background:-webkit-gradient(linear,0 0,0 100%,from(#fcfcfc),to(#f0f0f0));
	-moz-box-shadow:0 1px 1px 0 white inset;
	-webkit-box-shadow:0 1px 1px 0 white inset;
	box-shadow:0 1px 1px 0 white inset
}

/****************************
    pop-main style
*****************************/
.pop-main {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  display:none;
}
.pop-con {
  background-color: rgba(23, 23, 23, 0.9);
  text-align: center;
  padding: 20px 15px;
  border-radius: 5px;
}
.pop-con .warn {
  color: white;
  padding: 0;
  font-size: 13px;
  text-shadow: 0 1px 1px #505050;
  text-align: left;
}
.inp-stor {
  border: 1px solid #BBB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 25px;
  margin-top: 10px;
  padding: 0 5px;
}
textarea, input {
  resize: none;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
}
.msg-holder {
  color: #FC7708;
  line-height: 20px;
}
.pop-btn {
  margin-top: 5px;
  text-align: center;
}
.pop-btn input {
  width: 70px;
  height: 30px;
  line-height: 30px;
  color: #444;
  font-size: 14px;
  border: 0;
  border-radius: 2px;
  margin: 10px 5px 0;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#EEE),color-stop(100%,#999));
}
input {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
}

